body, html{
  min-height: 100%;
}

body.fondo{
  background-image: url("../img/fondo2.png");
  background-repeat: repeat;
  /*background-size: cover;*/
}

/* Da fuente de letra al titulo y tamaño */
.fuenteTitulo{
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
}

/* Da margen superior */
.margenSup{
  margin-top: 10%;
}

/* Centrar cualquier div */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Quitar puntos negros a la llista */
.quitarPuntos{
  list-style:none;
}

/* Dar padding superior a los li */
.paddingSup{
  padding-top: 10px;
}
